.white-border-right {
  border-right: 1px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.collapse-hover {
  cursor: grab;
}

.spinning-modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

body.loading .spinning-modal {
    overflow: hidden;   
}

body.loading .spinning-modal {
    display: block;
}